<footer id="footer">
    <ul class="icons">
        <li><a target="_blank" href="https://www.linkedin.com/in/alexandre-ravichandran-246743142"
                class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
        <li><a target="_blank" href="https://github.com/AlexandreRavichandran" class="icon brands fa-github"><span
                    class="label">Github</span></a></li>
        <li><a target="_blank" href="mailto:alexandre.ravichandran@gmail.com" class="icon solid fa-envelope"><span
                    class="label">Mail</span></a></li>
    </ul>
    <ul class="copyright">
        <li>Based on a template under licence <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons
                Attribution 3.0 Unported (CC BY 3.0)</a></li>
    </ul>
</footer>

</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>

</html>