{% include header.html %}


<div id="page-wrapper">
    <section id="banner">
        <div class="inner">
            <h2>Alexandre RAVICHANDRAN</h2>
            <p>Developpeur web junior</p>
        </div>
        <a href="#one" class="more scrolly">Voir plus</a>
    </section>
    <section id="one" class="wrapper style1 special">
        <div class="inner">
            <header class="major">
                <h2>A propos de moi</h2>
                <p style="color:white">Anciennement dans le domaine de la qualité, j'ai décidé en 2020 de me reconvertir
                    dans le domaine du développement et plus précisément dans le domaine du développement web. Après
                    avoir passé un an en
                    autodidacte, j'ai décidé de suivre une formation intensive à <a
                        href="https://oclock.io/">O'clock</a>, afin de valider mes
                    compétences et corriger mes mauvaises pratiques. Parallèlement à cette formation, j'ai également
                    effectué des projets personnels pour solidifier mes compétences.</p>
                <p style="color:white">Durant mon année en autodidacte, j'ai eu une énorme préférence pour le côté
                    Back-end du développement web, préférence qui n'a cessé d'accroitre lors de mon apprentissage de
                    Symfony. Il était donc évident pour moi de me spécialiser dans le côté back. Cependant, j'essaye
                    également de m'intéresser aux technologies Front-End, comme React et Vue.js.</p>
                <div style="display:flex;justify-content: center;margin-bottom: 30px;">
                    <a target="_blank"
                        style="text-decoration:none;display:block;background-color:rgb(0, 0, 0,0.7);padding: 15px;border-radius: 15px;width:180px;font-weight: bold;"
                        href="/assets/docs/CV_Alexandre_RAVICHANDRAN_Back_End.pdf">Voir mon
                        CV</a>
                </div>
                <ul class="icons">
                    <li><a target="_blank" style="font-size: 50px;"
                            href="https://www.linkedin.com/in/alexandre-ravichandran-246743142"
                            class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
                    <li><a target="_blank" style="font-size: 50px;" href="https://github.com/AlexandreRavichandran"
                            class="icon brands fa-github"><span class="label">Github</span></a></li>
                    <li><a target="_blank" style="font-size: 50px;" href="mailto:alexandre.ravichandran@gmail.com"
                            class="icon solid fa-envelope"><span class="label">Mail</span></a></li>
                </ul>
            </header>
        </div>
    </section>
    <section id="two" class="wrapper alt style2">
        <div style="padding-top: 60px;" class="inner">
            <header style="text-align: center;" class="major">
                <h2>Portfolio</h2>
                <p>Vous trouverez ci-dessous différents projets que j'ai réalisé durant mon apprentissage du
                    développement web, et également ceux que je réalise actuellement.</p>
            </header>
        </div>
        <section class="spotlight">
            <div class="image projectDirectLinks"><a href="https://app-todo-list.surge.sh/"><img src="https://placehold.it/752x532" alt="" /></a></div>
            <div class="content">
                <h2>To-do list</h2>
                <p>Projet en cours</p>
                <p>Application "To-do" pour concevoir une liste de tâches à faire</p>
                <ul style="display: flex;flex-wrap: wrap;justify-content: center;">
                    <li class="language">
                        <img src="/assets/css/images/languages/angular.svg" alt="">
                        <p>Angular</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/sass.svg" alt="">
                        <p>Sass</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/bootstrap.svg" alt="">
                        <p>Bootstrap</p>
                    </li>
                    <li class="language">
                        <img style="width:25px" src="/assets/css/images/languages/surge.svg" alt="">
                        <p>Surge</p>
                    </li>
                </ul>
                <div class="projectLinks">
                    <a target="_blank" href="/to-do-list">Voir plus</a>
                </div>
            </div>
        </section>
        <section class="spotlight">
            <div class="image projectDirectLinks"><a><img src="https://placehold.it/752x532" alt="" /></a></div>
            <div class="content">
                <h2>Hypersomnia</h2>
                <p>Projet en cours</p>
                <p>Platforme API en ligne pour construire et utiliser des API.</p>
                <ul style="display: flex;flex-wrap: wrap;justify-content: center;">
                    <li class="language">
                        <img src="/assets/css/images/languages/laravel.svg" alt="">
                        <p>Laravel</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/sass.svg" alt="">
                        <p>Sass</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/bootstrap.svg" alt="">
                        <p>Bootstrap</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/javascript.svg" alt="">
                        <p>Javascript</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/mysql.svg" alt="">
                        <p>MySQL</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/heroku.svg" alt="">
                        <p>Heroku</p>
                    </li>
                </ul>
                <div class="projectLinks">
                    <a target="_blank" href="/hypersomnia">Voir plus</a>
                </div>
            </div>
        </section>
        <section class="spotlight">
            <div class="image projectDirectLinks"><a
                    href="https://alexandreravichandran.github.io/Remind-Me-frontend"><img width="100%"
                        src="/assets/css/images/remindme.png" alt="" /></a></div>
            <div class="content">
                <h2>Remind Me</h2>
                <p>Application "Pense-bête" pour se constituer une liste de films à voir, livres à lire et musique à
                    écouter.</p>
                <ul style="display: flex;flex-wrap: wrap;justify-content: center;">
                    <li class="language">
                        <img src="/assets/css/images/languages/symfony.svg" alt="">
                        <p>Symfony</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/api-platform.svg" alt="">
                        <p>API Platform</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/jekyll.svg" alt="">
                        <p>Jekyll</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/bootstrap.svg" alt="">
                        <p>Bootstrap</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/javascript.svg" alt="">
                        <p>Javascript</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/mysql.svg" alt="">
                        <p>MySQL</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/heroku.svg" alt="">
                        <p>Heroku</p>
                    </li>
                </ul>
                <div class="projectLinks">
                    <a target="_blank" href="/remind-me">Voir plus</a>
                </div>
            </div>
        </section>
        <section class="spotlight">
            <div class="image projectDirectLinks"><a href="http://oldix.surge.sh/"><img width="100%"
                        src="/assets/css/images/oldix.png" alt="" /></a></div>
            <div class="content">
                <h2>Oldix</h2>
                <p>Projet en équipe</p>
                <p>Application centralisant des films libres de droits et permettant de les visionner.</p>
                <p>Travail uniquement sur le coté back</p>
                <ul style="display: flex;flex-wrap: wrap;justify-content: center;">
                    <li class="language">
                        <img src="/assets/css/images/languages/symfony.svg" alt="">
                        <p>Symfony</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/mysql.svg" alt="">
                        <p>MySQL</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/aws.svg" alt="">
                        <p>AWS</p>
                    </li>
                </ul>
                <div class="projectLinks">
                    <a target="_blank" href="/oldix">Voir plus</a>
                </div>
            </div>
        </section>
        <section class="spotlight">
            <div class="image projectDirectLinks"><a href="https://app-quiver.herokuapp.com/"><img style="display:block"
                        src="/assets/css/images/quiver.png" width="100%" alt=""></a></div>
            <div class="content">
                <h2>Quiver</h2>
                <p>Clone de Quora, un forum pour poser et répondre à des questions.</p>
                <ul style="display: flex;flex-wrap: wrap;justify-content: center;">
                    <li class="language">
                        <img src="/assets/css/images/languages/symfony.svg" alt="">
                        <p>Symfony</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/tailwind.svg" alt="">
                        <p>Tailwind</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/javascript.svg" alt="">
                        <p>Javascript</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/mysql.svg" alt="">
                        <p>MySQL</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/heroku.svg" alt="">
                        <p>Heroku</p>
                    </li>
                </ul>
                <div class="projectLinks">
                    <a target="_blank" href="/quiver">Voir plus</a>
                </div>
            </div>
        </section>
        <section class="spotlight">
            <div class="image projectDirectLinks"><a href="https://spacetrip-app.herokuapp.com/"><img src="/assets/css/images/spacetrip.png" alt="" /></a></div>
            <div class="content">
                <h2>Spacetrip</h2>
                <p>Agence fictive de voyages dans l'espace.</p>
                <ul style="display: flex;flex-wrap: wrap;justify-content: center;">
                    <li class="language">
                        <img src="/assets/css/images/languages/symfony.svg" alt="">
                        <p>Symfony</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/bootstrap.svg" alt="">
                        <p>Bootstrap</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/javascript.svg" alt="">
                        <p>Javascript</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/mysql.svg" alt="">
                        <p>MySQL</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/heroku.svg" alt="">
                        <p>Heroku</p>
                    </li>
                </ul>
                <div class="projectLinks">
                    <a target="_blank" href="/spacetrip">Voir plus</a>
                </div>
            </div>
        </section>
        <section class="spotlight">
            <div class="image projectDirectLinks"><a href="https://pomodoro--timer.herokuapp.com/"> <img
                        src="/assets/css/images/pomodoro.png" alt="" /></a>
            </div>
            <div class="content">
                <h2>Pomodoro-timer</h2>
                <p>Application de minuteur permettant d'appliquer la méthode POMODORO, une méthode permettant
                    d'optimiser la concentration et la productivité.</p>
                <ul style="display: flex;flex-wrap: wrap;justify-content: center;">
                    <li class="language">
                        <img src="/assets/css/images/languages/php.svg" alt="">
                        <p>PHP</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/bootstrap.svg" alt="">
                        <p>Bootstrap</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/javascript.svg" alt="">
                        <p>Javascript</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/heroku.svg" alt="">
                        <p>Heroku</p>
                    </li>
                </ul>
                <div class="projectLinks">
                    <a target="_blank" href="/pomodoro-timer">Voir plus</a>
                </div>
            </div>
        </section>
    </section>
    <section id="three" class="wrapper style3 special">
        <div class="inner">
            <header class="major">
                <h2>Compétences</h2>
            </header>
            <ul class="features">
                <li style="width:100% " class="icon solid fa-code">
                    <h3>Langages</h3>
                    <div style="display:flex;flex-wrap: wrap;">
                        <div class="language">
                            <img src="/assets/css/images/languages/html.svg" alt="">
                            <p>HTML</p>
                        </div>
                        <div class="language">
                            <img src="/assets/css/images/languages/css.svg" alt="">
                            <p>CSS</p>
                        </div>
                        <div class="language">
                            <img src="/assets/css/images/languages/php.svg" alt="">
                            <p>PHP</p>
                        </div>
                        <div class="language">
                            <img src="/assets/css/images/languages/javascript.svg" alt="">
                            <p>Javascript</p>
                        </div>
                        <div class="language">
                            <img src="/assets/css/images/languages/typescript.svg" alt="">
                            <p>Typescript</p>
                        </div>
                    </div>
                </li>

                <li class="icon solid fa-desktop">
                    <h3>Front-end</h3>
                    <div style="display:flex;flex-wrap: wrap;justify-content: center;">
                        <div class="language">
                            <img src="/assets/css/images/languages/bootstrap.svg" alt="">
                            <p>Bootstrap</p>
                        </div>
                        <div class="language">
                            <img src="/assets/css/images/languages/tailwind.svg" alt="">
                            <p>Tailwind</p>
                        </div>
                        <div class="language">
                            <img src="/assets/css/images/languages/jekyll.svg" alt="">
                            <p>Jekyll</p>
                        </div>
                        <div class="language">
                            <img src="/assets/css/images/languages/sass.svg" alt="">
                            <p>Sass</p>
                        </div>
                        <div class="language">
                            <img src="/assets/css/images/languages/angular.svg" alt="">
                            <p>Angular</p>
                        </div>
                    </div>

                </li>

                <li class="icon solid fa-server">
                    <h3>Back-end</h3>
                    <div style="display:flex;flex-wrap: wrap;justify-content: center;">
                        <div class="language">
                            <img src="/assets/css/images/languages/symfony.svg" alt="">
                            <p>Symfony</p>
                        </div>
                        <div class="language">
                            <img src="/assets/css/images/languages/api-platform.svg" alt="">
                            <p>API-Platform</p>
                        </div>
                        <div class="language">
                            <img src="/assets/css/images/languages/lumen.svg" alt="">
                            <p>Lumen</p>
                        </div>
                        <div class="language">
                            <img src="/assets/css/images/languages/laravel.svg" alt="">
                            <p>Laravel</p>
                        </div>
                        <div class="language">
                            <img src="/assets/css/images/languages/mysql.svg" alt="">
                            <p>MySQL</p>
                        </div>
                    </div>
                </li>

                <li class="icon solid fa-cloud">
                    <h3>Déploiement</h3>
                    <div style="display:flex;flex-wrap: wrap;justify-content: center;">
                        <div class="language">
                            <img src="/assets/css/images/languages/heroku.svg" alt="">
                            <p>Heroku</p>
                        </div>
                        <div class="language">
                            <img src="/assets/css/images/languages/aws.svg" alt="">
                            <p>AWS</p>
                        </div>
                        <div class="language">
                            <img style="width:25px" src="/assets/css/images/languages/surge.svg" alt="">
                            <p>Surge</p>
                        </div>
                    </div>
                </li>

                <li class="icon solid fa-cogs">
                    <h3>Environnements</h3>
                    <div style="display:flex;flex-wrap: wrap;justify-content: center;">
                        <div class="language">
                            <img src="/assets/css/images/languages/gnu.svg" alt="">
                            <img src="/assets/css/images/languages/linux.svg" alt="">
                            <p>GNU-Linux</p>
                        </div>
                        <div class="language">
                            <img src="/assets/css/images/languages/mamp.svg" alt="">
                            <p>MAMP</p>
                        </div>
                        <div class="language">
                            <img src="/assets/css/images/languages/git.svg" alt="">
                            <p>Git</p>
                        </div>
                    </div>
                </li>
                <li class="icon solid fa-check-circle">
                    <h3>Autres</h3>
                    <div style="display:flex;flex-wrap: wrap;justify-content: center;">
                        <div class="language">
                            <img src="/assets/css/images/languages/toeic.svg" alt="">
                            <p>Toeic: Score de 965 (2021)</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section id="four" class="wrapper style1 special" style="color:white">
        <div class="inner">
            <header class="major">
                <h2>Parcours</h2>
            </header>
            <div style="display:flex;justify-content: space-between;">
                <div>
                    <h5 style="margin-bottom: 0;">Ecole O'clock
                    </h5>
                </div>
                <div>
                    <h5>Juin 2021 - Novembre 2021 </h5>
                </div>
            </div>
            <p style="font-weight:bold;margin-bottom: 0;">Formation intensive en Développement Web et Web Mobile</p>
            <p style="font-weight:bold;">Spécialisation Symfony</p>
            <div
                style="display:flex;justify-content: space-around;text-align: left;flex-wrap: wrap;margin-bottom: 20px;">
                <ul style="color:white">
                    <h5>Front-End</h5>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>Framework Bootstrap</li>
                    <li>Framework Bulma</li>
                </ul>
                <ul style="color:white">
                    <h5>Back-End</h5>
                    <li>PHP</li>
                    <li>Architecture MVC</li>
                    <li>Mise en place d'un CRUD</li>
                    <li>Création/Utilisation d'une API</li>
                    <li>Framework Lumen</li>
                    <li style="font-weight: bold;">Spécialisation Symfony</li>
                </ul>
                <ul style="color:white">
                    <h5>Gestion de projet</h5>
                    <li>Méthode Agile</li>
                </ul>
            </div>
            <hr>
            <div style="display:flex;justify-content: space-between;">
                <div>
                    <h5 style="margin-bottom: 0;">Autodidacte
                    </h5>
                </div>
                <div>
                    <h5>Juillet 2020 - juin 2021 </h5>
                </div>
            </div>
            <p style="font-weight:bold;">Apprentissage du développement Web en autodidacte</p>
            <div
                style="display:flex;justify-content: center;flex-direction: column;text-align: center;margin-bottom: 20px;color:white">
                <ul style="display:flex;align-items: center;flex-direction: column;text-align: left;color:white">
                    <h5>Apprentissage via differents cours en ligne</h5>
                    <li>OpenClassrooms</li>
                    <li>FreeCodeCamp</li>
                </ul>
                <p>Apprentissage des notions de Symfony, Docker et Jekyll</p>
                <p>Mise en pratique avec des réalisations de projets personnels</p>
                <p>Réalisation du MOOC de l'ANSSI : Initialisation à la cybersécurité & protection des outils numériques
                    (<a target="_blank"
                        href="/assets/docs/attestation_secnumacademie_Alexandre_RAVICHANDRAN.pdf">attestation</a>)</p>
            </div>
            <hr>
            <div style="display:flex;justify-content: space-between;">
                <div>
                    <h5 style="margin-bottom: 0;">Université Paris Est Marne la Vallée
                    </h5>
                </div>
                <div>
                    <h5>Septembre 2018 - Septembre 2019 </h5>
                </div>
            </div>
            <p style="font-weight:bold;">Master 2 Génie industriel</p>
            <div
                style="display:flex;justify-content: center;flex-direction: column;text-align: center;margin-bottom: 20px;">
                <ul style="display:flex;align-items: center;flex-direction: column;text-align: left;color:white">
                    <h5>Apprentissage de techniques de gestion de projet</h5>
                    <li>Pilotage/Gestion d'un projet</li>
                    <li>Méthodes/outils de résolutions de problèmes</li>
                    <li>Animation des réunions d'avancement d'un projet</li>
                    <li>Rédactions de comptes rendus de réunions</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="cta" class="wrapper style4">
        <div class="inner">
            <header style="padding-right: 0;">
                <h2>Me contacter</h2>
            </header>
            <ul class="actions stacked" style="width:100%">
                <li class="fas fa-map-marker-alt"> <a target="_blank"
                        href="https://www.google.fr/maps/place/Bailly-Romainvilliers/@48.8452895,2.8003069,14z/data=!3m1!4b1!4m5!3m4!1s0x47e8a7fb9b29d351:0x1dcafc784af85334!8m2!3d48.847068!4d2.823803">Bailly
                        Romainvilliers</a></li>
                <li class="icon solid fa-envelope"> <a target="_blank"
                        href="mailto:alexandre.ravichandran@gmail.com">alexandre.ravichandran@gmail.com</a></li>
                <li class="fas fa-phone-alt">0695179977</li>
            </ul>
        </div>
    </section>

    {% include footer.html %}