{% include header.html %}


<div id="page-wrapper">
    <section id="banner">
        <div class="inner">
            <h2>Alexandre RAVICHANDRAN</h2>
            <p>Developpeur web junior</p>
        </div>
        <a href="#one" class="more scrolly">Voir plus</a>
    </section>
    <section id="one" class="wrapper style1 special">
        <div class="inner">
            <header class="major">
                <h2>Arcu aliquet vel lobortis ata nisl<br />
                    eget augue amet aliquet nisl cep donec</h2>
                <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
                    fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
            </header>
        </div>
    </section>
    <section id="two" class="wrapper alt style2">
        <div style="padding-top: 25px;" class="inner">
            <header style="text-align: center;" class="major">
                <h2>Portfolio<br /></h2>
                <p>Vous trouverez ci-dessous différents projets que j'ai réalisé durant mon apprentissage du
                    developpement web.</p>
            </header>
        </div>
        <section class="spotlight">
            <div class="image"><img src="http://placehold.it/748x529" alt="" /></div>
            <div class="content">
                <h2>Spacetrip</h2>
                <p>Agence (fictive) de voyages de l'espace</p>
                <a class="projectLinks" href="projects/spacetrip/index.html">Voir plus</a>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="http://placehold.it/748x529" alt="" /></div>
            <div class="content">
                <h2>Quiver</h2>
                <span> En cours </span>
                <p>Clone de Quora, un réseau social-forum pour poser et repondre à des questions</p>
                <a class="projectLinks" href="">Voir plus</a>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="http://placehold.it/748x529" alt="" /></div>
            <div class="content">
                <h2>Pomodoro-timer</h2>
                <p>Application de minuteur permettant d'appliquer la méthode POMODORO, une methode permettant
                    d'optimiser la concentration et la productivité</p>
                <a class="projectLinks" href="">Voir plus</a>
            </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="http://placehold.it/748x529" alt="" /></div>
            <div class="content">
                <h2>Flash-livraison</h2>
                <span> En cours </span>
                <p>Site vitrine pour l'entreprise Flash Livraison</p>
                <a class="projectLinks" href="">Voir plus</a>
            </div>
        </section>
    </section>
    <section id="three" class="wrapper style3 special">
        <div class="inner">
            <header class="major">
                <h2>Accumsan mus tortor nunc aliquet</h2>

            </header>
            <ul class="features">
                <li style="width:100%" class="icon fa-paper-plane">
                    <h3>Langages</h3>
                    <img src="images/languages/html5.jpg">
                </li>

                <li class="icon solid fa-laptop">
                    <h3>Frameworks CSS</h3>
                </li>

                <li class="icon solid fa-code">
                    <h3>Frameworks/technologies Back-end</h3>
                </li>

                <li class="icon solid fa-headphones-alt">
                    <h3>Solutions de déploiement</h3>
                </li>

                <li class="icon fa-heart">
                    <h3>Environnements</h3>
                </li>
            </ul>
        </div>
    </section>

    {% include footer.html %}