{% include header.html %}


<div id="page-wrapper">
    <section id="banner">
        <div class="inner">
            <h2>Alexandre RAVICHANDRAN</h2>
            <p>Web developer</p>
        </div>
        <a href="#one" class="more scrolly">See more</a>
    </section>
    <section id="one" class="wrapper style1 special">
        <div class="inner">
            <header class="major">
                <h2>About me</h2>
                <p style="color:white">Passionate software engineer since 2020, and specialized in Java/Angular since
                    2021</p>
                <p style="color:white"> Since 2020, I followed a self-learning path, starting with exploring the world
                    of PHP
                    development before drifting in the one of Java. This approach has not only enabled me to
                    develop my technical skills but also my ability to creatively and effectively solve problems. I'm
                    constantly seeking new challenges and personal projects to upgrade my knowledge. Whether it's
                    upgrading my algothimic skill, angular skill,
                    exploring new Java features, or studying best
                    development practices, I'm always excited to learn and improve.</p>
                <p style="color:white">
                    On this website, I share my journey, past and present projects, and my explanations about them. Feel
                    free to explore and reach out if you'd like to collaborate on an exciting project or simply exchange
                    ideas. Thank you for visiting and happy exploring!</p>
                <div style="display:flex;justify-content: center;margin-bottom: 30px;">
                </div>
                <ul class="icons">
                    <li><a target="_blank" style="font-size: 50px;"
                            href="https://www.linkedin.com/in/alexandre-ravichandran-246743142"
                            class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
                    <li><a target="_blank" style="font-size: 50px;" href="https://github.com/AlexandreRavichandran"
                            class="icon brands fa-github"><span class="label">Github</span></a></li>
                    <li><a target="_blank" style="font-size: 50px;" href="mailto:alexandre.ravichandran@gmail.com"
                            class="icon solid fa-envelope"><span class="label">Mail</span></a></li>
                </ul>
            </header>
        </div>
    </section>
    <section id="two" class="wrapper alt style2">
        <div style="padding-top: 60px;" class="inner">
            <header style="text-align: center;" class="major">
                <h2>Portfolio</h2>
                <p>You can find here the <strong>main projects</strong> that I made during my learning of web
                    development.</p>
                <p>You will find the remaining projects in <a href="https://github.com/AlexandreRavichandran">my
                        Github</a> (especially my first projects & projects in
                    PHP).</p>
            </header>
        </div>
        <section class="spotlight">
            <div class="image projectDirectLinks"><a><img src="/assets/css/images/medialistmaker.png" alt="" /></a>
            </div>
            <div class="content">
                <h2>Media list maker <a href="#remind-me">(Remind-me v2)</a></h2>
                <p>Application to create a list of movie to watch and music to listen.</p>
                <ul style="display: flex;flex-wrap: wrap;justify-content: center;">
                    <li class="language">
                        <img src="/assets/css/images/languages/spring.svg" alt="">
                        <p>Spring boot</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/postgresql.svg" alt="">
                        <p>PostgreSQL</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/angular.svg" alt="">
                        <p>Angular</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/tailwind.svg" alt="">
                        <p>Tailwind CSS</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/ngrx.svg" alt="">
                        <p>NgRx</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/docker.svg" alt="">
                        <p>Docker</p>
                    </li>
                </ul>
                <div class="projectLinks">
                    <a target="_blank" href="/media-list-maker">See details</a>
                </div>
            </div>
        </section>
        <section class="spotlight">
            <div class="image projectDirectLinks"><a><img src="/assets/css/images/fakeusergenerator.png" alt="" /></a>
            </div>
            <div class="content">
                <h2>User data generator</h2>
                <p>Application to generate standard user datas</p>
                <ul style="display: flex;flex-wrap: wrap;justify-content: center;">
                    <li class="language">
                        <img src="/assets/css/images/languages/spring.svg" alt="">
                        <p>Spring boot</p>
                    </li>
                </ul>
                <div class="projectLinks">
                    <a target="_blank" href="/user-data-generator">See details</a>
                </div>
            </div>
        </section>
        <section class="spotlight">
            <div class="image projectDirectLinks"><a><img src="https://placehold.it/752x532" alt="" /></a></div>
            <div class="content">
                <h2>Job search manager</h2>
                <p>Application to manage your job researches</p>
                <ul style="display: flex;flex-wrap: wrap;justify-content: center;">
                    <li class="language">
                        <img src="/assets/css/images/languages/spring.svg" alt="">
                        <p>Spring boot</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/angular.svg" alt="">
                        <p>Angular</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/sass.svg" alt="">
                        <p>Sass</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/heroku.svg" alt="">
                        <p>Heroku</p>
                    </li>
                    <li class="language">
                        <img src="/assets/css/images/languages/surge.svg" alt="">
                        <p>Surge</p>
                    </li>
                </ul>
                <div class="projectLinks">
                    <a target="_blank" href="/job-search-manager">See details</a>
                </div>
            </div>
        </section>
        <section id="three" class="wrapper style3 special">
            <div class="inner">
                <header class="major">
                    <h2>Skills</h2>
                </header>
                <ul class="features">
                    <li style="width:100% " class="icon solid fa-code">
                        <h3>Languages</h3>
                        <div style="display:flex;flex-wrap: wrap;">
                            <div class="language">
                                <img src="/assets/css/images/languages/html.svg" alt="">
                                <p>HTML</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/css.svg" alt="">
                                <p>CSS</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/php.svg" alt="">
                                <p>PHP</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/java.svg" alt="">
                                <p>Java</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/javascript.svg" alt="">
                                <p>Javascript</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/typescript.svg" alt="">
                                <p>Typescript</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/python.svg" alt="">
                                <p>Python</p>
                            </div>
                        </div>
                    </li>
                    <li class="icon solid fa-desktop">
                        <h3>Front-end</h3>
                        <div style="display:flex;flex-wrap: wrap;justify-content: center;">
                            <div class="language">
                                <img src="/assets/css/images/languages/angular.svg" alt="">
                                <p>Angular</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/ngrx.svg" alt="">
                                <p>NgRx</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/bootstrap.svg" alt="">
                                <p>Bootstrap</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/tailwind.svg" alt="">
                                <p>Tailwind CSS</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/jekyll.svg" alt="">
                                <p>Jekyll</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/sass.svg" alt="">
                                <p>Sass</p>
                            </div>
                        </div>
                    </li>

                    <li class="icon solid fa-server">
                        <h3>Back-end</h3>
                        <div style="display:flex;flex-wrap: wrap;justify-content: center;">
                            <div class="language">
                                <img src="/assets/css/images/languages/spring.svg" alt="">
                                <p>Spring Boot</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/symfony.svg" alt="">
                                <p>Symfony</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/api-platform.svg" alt="">
                                <p>API-Platform</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/laravel.svg" alt="">
                                <p>Laravel</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/mysql.svg" alt="">
                                <p>MySQL</p>
                            </div>
                        </div>
                    </li>

                    <li class="icon solid fa-cloud">
                        <h3>Deployment</h3>
                        <div style="display:flex;flex-wrap: wrap;justify-content: center;">
                            <div class="language">
                                <img src="/assets/css/images/languages/heroku.svg" alt="">
                                <p>Heroku</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/aws.svg" alt="">
                                <p>AWS</p>
                            </div>
                            <div class="language">
                                <img style="width:25px" src="/assets/css/images/languages/surge.svg" alt="">
                                <p>Surge</p>
                            </div>
                        </div>
                    </li>

                    <li class="icon solid fa-cogs">
                        <h3>Environments</h3>
                        <div style="display:flex;flex-wrap: wrap;justify-content: center;">
                            <div class="language">
                                <img src="/assets/css/images/languages/gnu.svg" alt="">
                                <img src="/assets/css/images/languages/linux.svg" alt="">
                                <p>GNU-Linux</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/docker.svg" alt="">
                                <p>Docker</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/mamp.svg" alt="">
                                <p>MAMP</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/git.svg" alt="">
                                <p>Git</p>
                            </div>

                        </div>
                    </li>
                    <li class="icon solid fa-wrench">
                        <h3>Tools</h3>
                        <div style="display:flex;flex-wrap: wrap;justify-content: center;">
                            <div class="language">
                                <img src="/assets/css/images/languages/rabbitmq.svg" alt="">
                                <p>RabbitMQ</p>
                            </div>
                            <div class="language">
                                <img src="/assets/css/images/languages/jenkins.svg" alt="">
                                <p>Jenkins</p>
                            </div>
                        </div>
                    </li>
                    <li class="icon solid fa-check-circle">
                        <h3>Others</h3>
                        <div style="display:flex;flex-wrap: wrap;justify-content: center;">
                            <div class="language">
                                <img src="/assets/css/images/languages/toeic.svg" alt="">
                                <p>Toeic: Score of 965 (2021)</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section id="four" class="wrapper style1 special" style="color:white">
            <div class="inner">
                <header class="major">
                    <h2>Experiences</h2>
                </header>
                <div style="display:flex;justify-content: space-between;">
                    <div style="display:flex; align-items: center;">
                        <h5 style="margin-bottom: 0;">Capgemini
                        </h5>
                    </div>
                    <div>
                        <h5>From Dec-2021</h5>
                    </div>
                </div>
                <p style="font-weight:bold;">Software Engineer Consultant</p>
                <div
                    style="display:flex;justify-content: center;flex-direction: column;text-align: center;margin-bottom: 20px;color:white">
                    <ul style="display:flex;align-items: center;flex-direction: column;text-align: left;color:white">
                        <h5>Work with several technologies in software Engineer mission</h5>
                        <li>Spring Boot</li>
                        <li>Angular</li>
                        <li>RabbitMQ</li>
                        <li>Docker</li>
                        <li>Jenkins</li>
                        <li>Microservice architecture</li>
                    </ul>

                    <h5>Side activities</h5>
                    <p>Attending the Professional Scrum Developer Certificate I (PSD-1) with a score of 92 %
                        (<a target="_blank"
                            href="/assets/docs/attestation_professional_scrum_developer_I.pdf">certificate</a>)
                    </p>
                </div>
                <hr>
                <div style="display:flex;justify-content: space-between;">
                    <div style="display:flex; align-items: center;">
                        <img style="margin-right: 10px;" width="100px" src="/assets/css/images/Oclock.jpg" alt="">
                        <h5 style="margin-bottom: 0;">
                            O'clock school
                        </h5>
                    </div>
                    <div>
                        <h5>June 2021 - November 2021 </h5>
                    </div>
                </div>
                <p style="font-weight:bold;margin-bottom: 0;">Intensive formation on web development and mobile web
                    development</p>
                <p style="font-weight:bold;">Specialization on Symfony</p>
                <div
                    style="display:flex;justify-content: space-around;text-align: left;flex-wrap: wrap;margin-bottom: 20px;">
                    <ul style="color:white">
                        <h5>Front-End</h5>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>Bootstrap Framework</li>
                        <li>Bulma Framework</li>
                    </ul>
                    <ul style="color:white">
                        <h5>Back-End</h5>
                        <li>PHP</li>
                        <li>MVC Architecture</li>
                        <li>Conception of a CRUD</li>
                        <li>Creation/Use of an API</li>
                        <li>Lumen Framework</li>
                        <li style="font-weight: bold;">Specialization on Symfony</li>
                    </ul>
                    <ul style="color:white">
                        <h5>Project management</h5>
                        <li>Agile method</li>
                    </ul>
                </div>
                <hr>
                <div style="display:flex;justify-content: space-between;">
                    <div>
                        <h5 style="margin-bottom: 0;">Self-taught
                        </h5>
                    </div>
                    <div>
                        <h5>July 2020 - June 2021 </h5>
                    </div>
                </div>
                <p style="font-weight:bold;">Learning of the web development (self-taught)</p>
                <div
                    style="display:flex;justify-content: center;flex-direction: column;text-align: center;margin-bottom: 20px;color:white">
                    <ul style="display:flex;align-items: center;flex-direction: column;text-align: left;color:white">
                        <h5>Learning with online courses</h5>
                        <li>OpenClassrooms</li>
                        <li>FreeCodeCamp</li>
                    </ul>
                    <p>Learning of the basics of Symfony, Docker and Jekyll</p>
                    <p>Practical application with the making of personnal projects</p>
                    <p>Attending the MOOC of the ANSSI : Introduction to cybersecurity and protection of digital tools
                        (<a target="_blank"
                            href="/assets/docs/attestation_secnumacademie_Alexandre_RAVICHANDRAN.pdf">certificate</a>)
                    </p>
                </div>
                <hr>
                <div style="display:flex;justify-content: space-between;">
                    <div>
                        <h5 style="margin-bottom: 0;">Université Paris Est Marne la Vallée
                        </h5>
                    </div>
                    <div>
                        <h5>September 2018 - September 2019 </h5>
                    </div>
                </div>
                <p style="font-weight:bold;">Master 2 industrial engineering</p>
                <div
                    style="display:flex;justify-content: center;flex-direction: column;text-align: center;margin-bottom: 20px;">
                    <ul style="display:flex;align-items: center;flex-direction: column;text-align: left;color:white">
                        <h5>Learning skills about project management</h5>
                        <li>Methods/tools to solve issues</li>
                        <li>Facilitating project progress meetings</li>
                        <li>Writing reports of meetings</li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="cta" class="wrapper style4">
            <div class="inner">
                <header style="padding-right: 0;">
                    <h2>Contact me</h2>
                </header>
                <ul class="actions stacked" style="width:100%">
                    <li class="fas fa-map-marker-alt"> <a target="_blank"
                            href="https://www.google.fr/maps/place/Bailly-Romainvilliers/@48.8452895,2.8003069,14z/data=!3m1!4b1!4m5!3m4!1s0x47e8a7fb9b29d351:0x1dcafc784af85334!8m2!3d48.847068!4d2.823803">Bailly
                            Romainvilliers</a></li>
                    <li class="icon solid fa-envelope"> <a target="_blank"
                            href="mailto:alexandre.ravichandran@gmail.com">alexandre.ravichandran@gmail.com</a></li>
                </ul>
            </div>
        </section>

        {% include footer.html %}